@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
:rout {
  --blue:#4285f4;
  --gray:#b3b2b2;
  --orange:#ff5945;
  --purpel-gradient: linear-gradient(135deg, #153677, #4e085f);
  --title-h1: #002765;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.container{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;
}
.todo-app{
  width: 100%;
  max-width: 540px;
  background: rgb(245, 245, 245);
  margin: 100px auto 20px;
  padding: 40px 30px;
  border-radius: 10px;
}
.todo-app h1{
  color: var(--title-h1);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.todo-app h1 img{
  width: 30px;
  margin-left: 10px;
}
.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
input{
  flex:1;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px;
}
.btn-add {
  border: none;
  outline: none;
  padding: 16px 50px;
  background-color: #ff5945;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}
ul li{
  list-style: none;
  font-size: 17px;
  margin: 10px 0;
  padding: 11px 8px 11px 50px;
  user-select: none;
  word-break: break-all;
  cursor: pointer;
  animation: anime 0.2s linear;
  position: relative;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 12px 12px 2px 1px rgb(245, 245, 245);
  display: flex;
  align-items: center;
}
ul li:last-child{
  margin-bottom: 0;
}
@keyframes anime {
  from {
    transform: translateY(-50px);
  }
}
ul li::before{
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 8px;
  left: 8px;
}
li.checked{
  color: #5555557a;
  text-decoration: line-through;
  background-color: #5555550e;
}
li.checked::before{
  background-image: url(images/checked.png);
}
li span{
  position: absolute;
  right: 0;
  width: 42px;
  height: 42px;
  font-size: 22px;
  color: #555;
  line-height: 33px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
li span:hover{
  background: #ff5945;
  color: #fff;
}